
 @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

 @font-face {
    font-family: 'Proxima Nova Regular'; /* Имя шрифта */
    src: url(../fonts/Proxima\ Nova\ Regular.otf); /* Путь к файлу со шрифтом */
   }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Playfair Display', serif;
}


.container{
    position: relative;
    width: 1200px;
    margin: 0 auto;
    background-color: #464F54; 
    padding-bottom: 80px;
}

header{
    z-index: 100;
}


.title-input-container{
    position: relative;
    width: 876px;
    height: 187px;
    background-color: #181818;
    margin-left: auto;
    margin-right: 0;
    margin-top: 47px;
    display: flex;
    align-items: center;
    z-index: 2;
}

.title-input{
    margin-right: 0;
    margin-left: auto;
    width: 816px;
    height: 93px;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    border: 0;
    color: #fff;
    background-color: #181818;
    font-size: 48px;
    border-bottom: 2px solid #707070;
    letter-spacing: 3px;
    font-stretch: expanded;
    
}

.title-input-container:before{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    position: absolute;
    font-size: 15px;
    color: #767676;
    content: 'title';
    letter-spacing: 5px;
    top: 40px;
    left: 60px
}


.control-bars-container{
    position: relative;
    width: 812px;
    height: 76px;
    background-color: #FBC02D;
    margin-left: auto;
    margin-right: 0;
    display: flex;
    align-items: center; 
    z-index: 2; 
}

.control-bars-list{
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 570px;
    height: 32px;
    margin-left: 42px;
    top: 22px;
}



input:not(:checked)+label{
    opacity: 0.5;
}

input[type=checkbox],[type=radio]{
    visibility: hidden;
}

main{
    position: relative;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 1060px;
    background-color: #fff;
    padding-top: 0;
    margin-top: -161px;
    z-index: 1;
}

.text-container{              
    width: 926px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 195px;
    border-left: 2px solid #707070;
}

.author-date{
    margin-left: 54px ;
    font-family: 'Proxima Nova Regular';
    font-size: 19px;
    line-height: 23.8px;
    letter-spacing: 4px;
    color:#B4B4B4;
    margin-bottom: 40px;
}

.text-title{
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 54px ;
    font-size: 78px;
    line-height: 73px;
    letter-spacing: 4px;
    margin-bottom: 23px;
    font-weight: lighter;
}

h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-style: italic;
    font-weight: lighter;
    line-height: 38px;
    color: gray;
    margin-left: 54px ;
    margin-bottom: 51px;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 27px;
    line-height: 41px;
    margin-left: 54px ;
    padding-bottom: 34px;
}

.style-italic{
    font-style: italic;
}