* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E2E7EC;
    font-family: 'Quicksand', sans-serif;
}

main {
    margin-top: 91px;
    margin-left: auto;
    margin-right: auto;
    width: 1120px;
    height: 1100px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.photo {
    background-size: auto;
    width: 740px;
    height: 540px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    width: 360px;
    height: 540px;
}

.little-photo {
    width: 54px;
    margin: 0 278px 25px 28px;
}

h1 {
    font-size: 30px;
    color: white;
    width: 410px;
    margin: 13px 0 33px 42px;
}

.date {
    font-size: 13px;
    color: #818181;
}

.h1 {
    font-size: 22px;
    font-weight: 500;
}

article.photo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.photo .date {
    margin-left: 45px;
}

.box1 .h1 {
    width: 298px;
    text-transform: uppercase;
    margin-top: -50px;
}

.box2 span.h1 {
    width: 284px;
}

.box3 span.h1 {
    width: 284px;
}

.box4 span.h1 {
    width: 284px;
    height: 130px;
}

span.h1,
.date {
    margin-left: 27px;
}

footer {
    display: flex;
    justify-content: center;
    margin: 50px auto 50px auto;
}

.mainphoto {
    position: relative;
    width: 100%;
    /* for IE 6 */
}

.photo .date {
    position: absolute;
    top: 490px;
    /* left: 0; */
    width: 100%;
    font-size: 18px;
}

.photo h1 {
    position: absolute;
    top: 510px;
    /* left: 0; */
    width: 500px;
}

footer span {
    margin-top: 2px;
    margin-left: 10px;
}

.box1 {
    margin-bottom: 20px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1 .date {
    margin-top: -50px;
}