*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container{
    display: flex;
    width: 500px;
    /* height: 215px; */
    margin: 0 auto ;
    flex-wrap: wrap;
    /* align-items: center; */
   
}
.container div{
    margin: 16px;
}
.container div:nth-child(4n+1) {
    margin-left: 0; 
}
.container div:nth-child(4n+4) {
    margin-right: 0; 
}
.one{
    width: 100px;
    height: 100px;
    background-color: brown;
    
}
.two{
    width: 100px;
    height: 100px;
    background-color:rgb(68, 5, 83);
}
.three{
    width: 100px;
    height: 100px;
    background-color: #555555;
    
}
.four{
    width: 100px;
    height: 100px;
    background-color: burlywood;
   
}
.five{
    width: 100px;
    height: 100px;
    background-color: rgb(107, 29, 36);
}
.six{
    width: 100px;
    height: 100px;
    background-color: #999975;
}
.seven{
    width: 100px;
    height: 100px;
    background-color: #221555;
}
.eight{
    width: 100px;
    height: 100px;
    background-color: red;
}