*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
footer{
    padding:120px 10px 38px;
    background-color: #121116;
    display: flex;
    justify-content: center;
}
.wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    
 
    
}
.wrapper img{
    padding-bottom: 50px;
    
}
.footer-title{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color:#fff;
    line-height: 24px;
    padding-bottom: 15px;
    letter-spacing: 1px;
    font-size: 20px;
}
.devider{
width: 230px;
height: 1px;
background-color: #fff;
}
.social-links{
    padding-top: 22px;
    width: 156px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 70px;
}
.social-links a{

    text-decoration: none;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyright{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 15;
    line-height: 18px;
    color: #fff;

}
span.copyright>span{
    color: #00C7FC;
}
.social-links a:hover{
    background-color: #ffffff;
    border-radius: 50%;
}
.social-links a:hover path{
    fill: #121116;

}