.container{
    position: relative;
    margin-left: auto;
    margin-top: 11%;
    margin-right: auto;
    width: 1000px;
    height:600px;
    font-size: 18px;
    background-color: #990909;
}

header{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 434px;
    height: 45px;
}

header img{
    display: block;
    position: inherit;
    top:13px;
}

.main-nav{
    position: relative;
    margin-top: 5px;
    color: white;
    margin-left: auto;
    margin-right:auto;
    height: 160px;
    width: 980px;
    background-color: black;    
}
.main-nav ul{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    height: 160px;
    width: 100%;
}

.main-nav ul img{
    width: 150px;
    height: 116px;   
}

.main-nav li{
    padding-top: 14px;
    width: 150px;
    float: left;
    text-align: center;
    padding-right: 86px;
}

.main-nav li:first-child{
    margin-left: 60px;
}

.main-nav li:last-child{
    padding-right: 0px;
}

.main-nav li a{
    color: white;
    text-decoration: none;
}

.main-nav li a:hover{
    color: #990909;
}

.side-nav{
    margin-top: 10px;
    float: left;
    margin-left: 10px;
    width: 250px;
    height: 300px;
    background-color:#7D0909;
}

.side-nav ul{
    margin-top: 0;
    padding-left:0;
    list-style: none;
}

.side-nav li:first-child{
    padding-top: 15px;
}

.side-nav li{
    padding-bottom: 20px;
    padding-left: 10px;
}

.side-nav li a{
    color: #e95b0d;
}

.main-article{
    margin-top: 10px;
    margin-left: 260px;
    width: 570px;
    height: 300px;
    color: white;
}

.main-article p{
    margin: 0;
    padding: 15px 15px 0px 15px;
}

.side{
    margin-top: 10px;
    float: right;
    margin-right: 10px;
    width: 160px;
    height: 300px;
    color: black;
    background-color: #e3dddd;
    text-align: center;
}

.side h3{
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #bdbdbd;
}

.side section div{
    margin-left: auto;
    margin-right: auto;
    width:75px;
    height: 10px;
    border-bottom: 2px solid gray;
    
}

.side section p {
    margin: 0;
    padding-top: 8px;
    padding-bottom: 8px;
}

footer{
    margin-top: 35px;
    height: 25px;
    color: white;
    background-color: #e95b0d;
    text-align: center;
    font-size: 20px;
}

footer p{
    margin:0px;
}

