
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}


blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.container{

    margin-left:auto;
    margin-right:auto;
    width:1000px;
    background-color:white;
    height: auto;
    display: block;
    height: auto;

}

.left-side{
    float:left;
    width:300px;  
    height:100%;
    background-color:#dddddd;
}

.photo-container{
    margin-top: 30px;
    margin-left: 50px;              
    width:200px;
    height:200px;
    border-radius: 200px;
    overflow:hidden;
    border: 1px solid #F75719;

}
.left-side img{
    margin-top: 0;
    margin-left: -130px;
    width:400px;
}


.my-name{
    margin-top: 25px;
    /*background-color: aqua;*/
}

.my-name h1{
    text-align: center;
    font-size: 30px;
    line-height: 35px;
    color:#F75719;
}

.my-name h2{
    margin-top: 25px;
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    color:black;
}

.contact-information{
    width: 300px;
    margin-top: 25px;
    overflow: hidden;
}

.contact-information li{
    display: block;
    margin-top: 10px;

}

.contact-information li img{
    margin-left: 30px;
    height: 40px;
    width: 40px;
}

.contact-information a{ 
    color:black;
    display: block;
    margin-top: -31px;
    margin-left: 75px;
    text-decoration: none;
}

.contact-information a:visited{ 
    color:black;
}

.contact-information a:hover {
    color:#F75719;
}
    
    
.contact-information p{ 
    display: block;
    margin-top: -30px;
    margin-left: 75px;
    font-size: 15px;
}

.contact-information adress{ 
    display: block;
    margin-top: -30px;
    margin-left: 75px;
    font-size: 15px;
    height: 40px;
}

.about-me{
    margin-top: 5px;
    margin: auto;
}

.about-me-container{
    width: 300px;
    height: 100px;
}

.about-me img{
    margin-left: 30px;
    height: 90px;
    width: 90px;
  
}

.about-me h3{
    margin-top: -65px;
    margin-left: 120px;
    font-size: 35px;
    width: auto;
}

.about-me p{
    width: 300px;
    margin-top:10px;
    text-align: center;
    font-size: 15px;
    line-height: 18px;
    padding-bottom: 20px;
}

.main-info{
    width: 700px;
    margin-left:301px;

}

.work-experience{
    padding-top: 20px;
    margin-left: 10px;
    height: 90px;
    width: 90px;
}

.work-experience h2{
    width: 300px;
    margin-top: -64px;
    margin-left: 90px;
    font-size: 28px;
    
}

.place-of-work{
    width:700px;
    
    height: 700px;
}

.work-position{
    width:300px;
    height:300px;
    
    float: left;
}
.work-position h3{
    width:200px;
    margin-top:25px;
    margin-left: 25px;
    font-size: 25px;
    color:#F75719;
    background-color:white;
    text-align: left;
    float: left;
}

.work-position h4{
    width:200px;
    margin-top:25px;
    margin-left: 25px;
    font-size: 15px;
    color:black;
    text-align: left;
    float: left;
}


.work-information{
    margin-left: 300px;
    width:400px;
    height:300px;
    line-height: 22px;
}

.work-information h3{
    text-align: left;
    font-size:20px;
}

.work-information p{
    margin-top:5px;
    text-align: left;
    font-size: 16px;
}

.work-information ul{
    margin-top:10px;
    margin-left:15px;
    text-align: left;
    font-size:15px;
}

.work-information li{
    margin-top:5px;
    
    text-align: left;
    font: size 15px;
}