*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;

}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 1072px;
    background-image: url(/FEcourse_2/Pushkin/L13-homework/part1/styles/img/hero-bg.jpg.png);
    background-repeat: no-repeat;
}
.header_logo{
    margin-top: 285px;
}
.header_title{
    padding-top: 74px;
    width: 560px;
    font-size: 54px;
letter-spacing: 9px;
color: #ffffff;
font-weight: 700;
font-family: "Lato";
text-align: center;
    
}
.header_text{
    padding-top: 51px;
    width: 589px;
    height: 322px;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 29px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Lato";
    text-align: center;
    text-transform: uppercase;
}
.header_scroll{
    margin-top: 25px;
}
.main_container{
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 135px auto;
    padding: 75px 0;
    width: 902px;
height: fit-content;
background-color: transparent;
border: 2px solid #3c3c3c;
}
.main_container::before{
    position: absolute;
    background-color:#ffffff;
    width: 420px;
    top: -22px;
  content: "SERVICES";
font-size: 34px;
letter-spacing: 5px;
color: #3c3c3c;
font-weight: 700;
font-family: "Lato";
text-align: center;

}
.main_container__text--1{
width: 534px;
text-align: center;
font-size: 16px;
line-height: 24px;
color: #3c3c3c;
font-weight: 300;
font-family: "Lato";

}
.main_container__text--2{
    width: 370px;
    text-align: center;
    margin-top: 25px;
    font-size: 16px;
    line-height: 24px;
    color: #3c3c3c;
    font-weight: 300;
    font-family: "Lato";

}
.main_services{
    background-image: url(/FEcourse_2/Pushkin/L13-homework/part1/styles/img/services.png);
    width: 100%;
    height: 488px;
    padding-top: 128px;
   
}
.main_container--white{
    color: #ffffff;
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 75px 0;
    width: 902px;
height: fit-content;
background-color: transparent;
border: 2px solid #fff;
}
.main_container--white p{
width: 543px;

font-size: 16px;
line-height: 26px;
color: #ffffff;
font-weight: 300;
font-family: "Lato";    
text-align: center;
}
.design_text{
    margin-top: 26px;
    width: 553px;

font-size: 14px;
line-height: 26px;
color: #3c3c3c;
font-weight: 300;
font-family: "Lato";
text-align: center;
padding-bottom: 40px;
}
.title_what-we-do{
    margin-top: 33px;
    font-size: 20px;
letter-spacing: 3px;
color: #3c3c3c;
font-weight: 700;
font-family: "Lato";
text-align: center;
}
.main_container>svg{
    width: 80px;
    height: 80px;
    margin-top: 29px;
}
ul{
    width: 1920px;
    height: 484px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
}
ul>li{
   list-style: none;
    
height: 237px;
    text-transform: uppercase;
    font-size: 34px;
letter-spacing: 5px;
color: #ffffff;
font-weight: 700;
font-family: "Lato";

}
li>span{
    display: block;
    margin:158px 298px 32px 60px;
}
.topworkz{
    background-image: url(/FEcourse_2/Pushkin/L13-homework/part1/styles/img/box1.png);
width: 548px;
}
.joint{
    background-image: url(/FEcourse_2/Pushkin/L13-homework/part1/styles/img/box2.png);
 width: 802px;
}
.market{
    background-image: url(/FEcourse_2/Pushkin/L13-homework/part1/styles/img/box3.png);
width: 550px;
}
.worktop{
    background-image: url(/FEcourse_2/Pushkin/L13-homework/part1/styles/img/box4.png);
    width: 548px;
}
.label{
    background-image: url(/FEcourse_2/Pushkin/L13-homework/part1/styles/img/box5.png);
    width: 802px;
}
.kyiv{
    background-image: url(/FEcourse_2/Pushkin/L13-homework/part1/styles/img/box6.png);
    width: 550px;
}

.button{
   display: flex;
   justify-content: center;
   align-items: center;
    width: 395px;
height: 58px;
background-color: #3c3c3c;
border: 2px solid #3c3c3c;
font-size: 16px;
letter-spacing: 3px;
color: #ffffff;
font-weight: 400;
font-family: "Lato";

text-transform: uppercase;
text-decoration: none;
}
footer{
    display:flex;
    justify-content: center;
    padding-bottom: 50px;
}
footer span{
    padding-top: 5px;
    padding-left: 15px;
    font-size: 14px;
color: #3c3c3c;
font-weight: 400;
font-family: "Lato";
}
footer svg{
    padding-bottom: 5px;
width: 35px;
height: 37px;

}


